@model MyMotorDealership.Web.ViewModels.Posts.LatestPostsViewModel

@{
    ViewData["Title"] = "Used and new Motors";
}

<div>
    <h1 class="display-4 text-center">Welcome to the best Motor marketplace!</h1>
    @if (!Model.LatestPosts.Any())
     {
        <hr class="my-4">
        <div class="text-center">
            <p class="lead">Unfortunately, there are no Motor posts in the system currently available so why don't you just add one?</p>
            <p class="lead">
                <a asp-controller="Posts" asp-action="Create" class="btn btn-dark" role="button">Add a Motor post</a>
            </p>
        </div>
     }
    <hr class="my-4">
</div>
<div id="MotorouselExampleControls" class="Motorousel slide" data-ride="Motorousel">
    <div class="Motorousel-inner">
        <div class="Motorousel-item active">
            <img class="d-block w-100" src="~/images/homePage/homeImage1.jpg" alt="Many parked Motors">
            <div class="Motorousel-caption d-none d-md-block">
                <a class="btn btn-light btn-lg text-uppercase" asp-controller="Posts" asp-action="All"><strong>View all Motor posts</strong></a>
            </div>
        </div>
        <div class="Motorousel-item">
            <img class="d-block w-100" src="~/images/homePage/homeImage2.jpg" alt="New Motors in a store">
            <div class="Motorousel-caption d-none d-md-block">
                <a class="btn btn-light btn-lg text-uppercase" asp-controller="Posts" asp-action="Search"><strong>Search new and used Motors</strong></a>
            </div>
        </div>
        <div class="Motorousel-item">
            <img class="d-block w-100" src="~/images/homePage/homeImage3.jpg" alt="Parked Motor in front of a store">
            <div class="Motorousel-caption d-none d-md-block">
                <a class="btn btn-light btn-lg text-uppercase" asp-controller="Posts" asp-action="Create"><strong>Sell a Motor</strong></a>
            </div>
        </div>
    </div>
    <a class="Motorousel-control-prev" href="#MotorouselExampleControls" role="button" data-slide="prev">
        <span class="Motorousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="Motorousel-control-next" href="#MotorouselExampleControls" role="button" data-slide="next">
        <span class="Motorousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr class="my-4">
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-dark" id="statistics-button">Show site statistics</button>
    </div>
</div>
<div class="bg-dark text-white rounded d-none my-4" id="statistics">
    <div class="row">
        <h2 class="col-md-4 text-center" id="total-users"></h2>
        <h2 class="col-md-4 text-center" id="total-posts"></h2>
        <h2 class="col-md-4 text-center" id="total-categories"></h2>
    </div>
</div>
<hr class="my-4">
<h3>Latest posts:</h3>
<div class="row align-content-center">
    @foreach (var post in Model.LatestPosts)
    {
        <div class="Motord m-1" style="width: 16rem;">
            <div class="mb-1 align-self-end">@post.PublishedOn</div>
            <h6 class="Motord-price mt-3">€@post.Motor.Price.ToString("N", CultureInfo.InvariantCulture).Replace(".00", string.Empty)</h6>
            <img src="@post.Motor.CoverImage" class="Motord-img-top" alt="@post.Motor.Make @post.Motor.Model @post.Motor.Year">
            <div class="Motord-body d-flex flex-column">
                <a class="text-decoration-none" asp-controller="Posts" asp-action="Offer" asp-route-id="@post.Motor.Id"><h5 class="Motord-title text-black text-center">@post.Motor.Make @post.Motor.Model</h5></a>
                <hr class="mt-1 mb-2" />
                <h6 class="Motord-title">@post.Motor.Year, @post.Motor.FuelType, @post.Motor.TransmissionType, @(post.Motor.Horsepower)Hp</h6>
                <div class="row mt-auto">
                    <a asp-controller="Posts" asp-action="Offer" asp-route-id="@post.Motor.Id" class="btn btn-dark text-center">View more</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#statistics-button').click(function () {

                if ($('#statistics').is(":hidden")) {
                    $(this.innerHTML = 'Hide site statistics');

                    $.get('/api/statistics', (data) => {
                        $('#total-users').text(data.totalUsers + " users");
                        $('#total-posts').text(data.totalPosts + " Motor posts");
                        $('#total-categories').text(data.totalCategories + " Motor categories");
                    });

                    $('#statistics').removeClass('d-none');
                } else {
                    $('#statistics').addClass('d-none');
                    $(this.innerHTML = 'Show site statistics');
                }
            });
        });
    </script>
}