@model MyMotorDealership.Web.ViewModels.Posts.PostsListViewModel

@{
    this.ViewData["Title"] = "All posts";
}

<h2 class="heading-margin text-center">@this.ViewData["Title"]@(Model.PagesCount > 1 ? $", page {Model.PageNumber}" : string.Empty)</h2>
<partial name="_SortingPartial" model="@Model" />
<hr />
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="Motord m-3" style="width: 18rem;">
            <div class="mb-1 align-self-end">@post.PublishedOn</div>
            <h6 class="Motord-price mt-3">€@post.Motor.Price.ToString("N", CultureInfo.InvariantCulture).Replace(".00", string.Empty)</h6>
            <img src="@post.Motor.CoverImage" class="Motord-img-top" alt="@post.Motor.Make @post.Motor.Model @post.Motor.Year">
            <div class="Motord-body d-flex flex-column">
                <a class="text-decoration-none" asp-action="Offer" asp-route-id="@post.Motor.Id"><h5 class="Motord-title text-black text-center">@post.Motor.Make @post.Motor.Model</h5></a>
                <hr class="mt-1 mb-2" />
                <h6 class="Motord-title">@post.Motor.Year, @post.Motor.FuelType, @post.Motor.Kilometers km, @post.Motor.TransmissionType</h6>
                <p class="Motord-text fw-lighter mt-auto"><i>@post.Motor.Description</i></p>
                <div class="row mt-auto">
                    <div class="col">
                        <p class="Motord-text">@post.Motor.LocationCity, @post.Motor.LocationCountry</p>
                    </div>
                    <div class="col align-self-end"><a asp-action="Offer" asp-route-id="@post.Motor.Id" class="btn btn-dark">View more</a></div>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#sortingDropDown").change(function () {
                const sortingValue = $(this).val();
                const url = new URL(window.location.href);

                url.searchParams.set("sorting", sortingValue);
                window.location.href = url;
            });
        });
    </script>
}